[submodule "home/.colors/base16-gnome-terminal"]
	path = home/.colors/base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
[submodule "home/.colors/base16-shell"]
	path = home/.colors/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
