[user]
  name = Steven Haddox
  email = steven@haddox.us
[github]
  user = stevenhaddox
[color]
  ui = true
[core]
  quotepath = false
  eol       = lf
  autocrlf  = input
  excludesfile = ~/.gitignore
[alias]
  ahead = log origin/master..HEAD --oneline
  serve = !git daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose
  hub   = !git daemon --base-path=. --export-all --enable=receive-pack --reuseaddr --informative-errors --verbose
  notes = !"git ls-files | xargs notes | awk -F: '{ print $1,$2; print $3,$4; print $5}' | grcat conf.notes "
  graph = !"git lg1"
  lg1     = log --graph --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg1-all = log --graph --all --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2     = log --graph --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  lg2-all = log --graph --all --format=format:'%C(blue)%h%C(reset) - %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  graph-branch = log --color --date-order --graph --oneline --decorate --simplify-by-decoration
  graph-old = log --graph --format='%h %Cred %ar %Cgreen %s %Cblue %an'
  today = log --since=midnight --author='Steven Haddox' --oneline
  subs-update = !"git submodule update --remote" # git fetch, pull, add for next commit on all submodules
  subs-init   = !"git submodule init; git subs-update" # Initialize a new clone's existing submodules
[branch "master"]
  rebase = true
[config "branch"]
  autosetuprebase = always
[push]
  default = current
[url "git@github.com"]
  insteadOf = gh
[url "git@gitlab.com"]
  insteadOf = gl
[include]
  path = ~/.gitconfig_local
[diff]
	tool = vimdiff
