database.yml
config/*.yml
log/*.log
tmp/**/*
doc/api
doc/app
doc/tags
.bundle
*.swp
*.bak
.DS_Store
.vim/.netrwhist
*.un~
vendor/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb
